{% extends 'base.html.twig' %}
{% block body %}

	<style>

		img {
			width: 555px;
			height: 250px;
		}
	</style>
	{% for  ateliers in atelier  %}
		<h2>
			<a href="{{ path('atelier_detail' , {id:ateliers.id})}}">
				{{ateliers.nom}}
			</a>


			<h2>
				<h3>
					Informations:
				</h3>
				<ul>
					<li>
						<img src="{{ vich_uploader_asset(ateliers, 'imageFile') }}" alt="{{ ateliers.nom }}"/></li>
					<li>
						Nom :
						{{ateliers.nom}}</li>
					<li>
						Date :
						{{ateliers.date|date('d-m-Y')}}</li>

					<li>
						Details:
						{{ateliers.description}}</li>
				</ul>

			{% endfor %}
		{% endblock %}
