{% extends 'base.html.twig' %}

{% block title %}
	{{actualite.nom}}
{% endblock %}

{% block body %}
	<style>

		img {
			width: 555px;
			height: 250px;
		}
	</style>


	<h2>
		{{actualite.nom}}
		<h2>


			<ul>

				<li>Image :
					<img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="{{ actualite.nom }}"/></li>
				<li>
					Nom :
					{{actualite.nom}}</li>
				<li>
					Description:
					{{actualite.description}}</li>

			</ul>

		{% endblock %}
