{% extends 'base.html.twig' %}
{% block body %}

	<style>

		img {
			width: 555px;
			height:250px;
		}

		
	</style>

{% for  actualites in actualite  %}
	<ul>
		<h2>
			<li>


				<a href="{{ path('actualite_detail', {id:actualites.id})}}">
					{{actualites.nom}}</a>
			</li>
			<li>
				<img src="{{ vich_uploader_asset(actualites, 'imageFile') }}" alt="{{ actualites.nom }}"/></li>
		</a>
	</li>
</h2>
<li>
	Details:
	{{actualites.description}}</li></ul>{% endfor %}
	{% endblock %}
