{% extends 'base.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/detail.graine.css') }}">
{% endblock %}

{% block title %}
	{{graine.nom}}
{% endblock %}

{% block body %}


	<div class="container-sm text-center">

		<h2>
			{{graine.nom}}
			<h2>

				

				<div class="row">
					<div class="col-6">
						<img src="{{ vich_uploader_asset(graine, 'imageFile') }}" alt="{{ graine.nom }}"/>
					
					</div>

					<div class="col align-self-center">
						
							<h3>
								Informations:
							</h3>
						
							<h5>

								Poids sachet :
								{{graine.poid ~' '~ 'g'}}

							</h5>

							<h5>

								Couleur :
								{{graine.couleur}}

							</h5>

							<h5>

								Prix :
								{{graine.prix ~'€'}}

							</h5>

							<h5>

								Details :
								{{graine.description}}

							</h5>
						
					</div>
				</div>
			</div>


		</div>


	{% endblock %}
