{% extends 'base.html.twig' %}
{% block body %}

	<style>


		.nav{
			background-color:#f7ffec;
		}
		body {
  background-color:#f7ffec;
}
	.card-img-top{
		
			width: 155px;
			height: 155px;
			
	}

	h2{
			background-color: #04B45F;
			border-radius:10px;
			
	}



	a {
			
			text-decoration: none; 
			color: black; 
		}

	</style>


	<div class="container-fluid text-left">
		<div class="row text-left my-3 mx-3 ">
			<h2 class="text-center">
		<i class="fas fa-leaf"></i>		Nos graines </i> </h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur natus omnis autem, aliquam dolorem pariatur ratione? Accusantium eveniet aut pariatur debitis sed, et aliquam laboriosam ab eum assumenda error. Saepe.
			</p>
		</div>


		<div class="row  my-3 mx-3">
			{% for  graines in graine  %}

				<div class="card mt-3 ms-5 " style="max-width: 19rem; max-height: 19rem;">
					<img class="card-img-top mx-auto" src="{{ vich_uploader_asset(graines, 'imageFile') }}"/>
					<div class="card-boby">
						<h5 class="card-title text-center">
							<a href="{{ path('graine_detail' , {id:graines.id})}}">{{graines.nom}}</a>
						</h5>
						<p>
							Periode de plantation :
							{{graines.saison}}</p>
						<p>Prix:
							{{graines.prix}} €</p>
						<p>
							<a class="text-center" href="{{ path('graine_detail' , {id:graines.id})}}">Détails</a>
						</p>
					</div>
				</div>


			{% endfor %}
		</div>
	</div>
{% endblock %}
